*,
html,
body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  width: 80%;
  max-width: 1440px;
  min-height: 100vh;
  margin: 0 auto;
}

a.navbar-brand {
  font-size: 24px;
}

span.red-dot {
  color: #f58634;
  font-size: 30px;
  margin-left: -5px;
}

a.login-button {
  background-color: #f58634;
  color: #ffffff;
  width: 134px;
  height: 62px;
  border-radius: 0;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  -ms-border-radius: 0;
  -o-border-radius: 0;
}

.orange-line {
  width: 38px;
  height: 3px;
  margin-top: 60px;
  background-color: #f58634;
}

.hero-header {
  width: 1170px;
  height: 192px;
}

.hero-title {
  color: #1b2021;
  font-size: 64px;
  letter-spacing: 0.64px;
}

.hero-desc p {
  color: #828282;
  width: 434px;
  font-size: 20px;
  letter-spacing: 0.2px;
  line-height: 34px;
}

.search-button {
  background-color: #f58634;
  color: #fff;
  width: 168px;
  height: 80px;
  margin-top: 6px;
  border-radius: 0;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  -ms-border-radius: 0;
  -o-border-radius: 0;
}

button.search-button:hover {
  background-color: #f58634;
  opacity: 90%;
  color: #fff;
  box-shadow: 3px 4px 7px black;
}

.search-card {
  width: 894px;
  height: 112px;
  margin-top: -56px;
  margin-left: -18.5px;
  border-radius: 0;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  -ms-border-radius: 0;
  -o-border-radius: 0;
}

select {
  color: #828282;
  border-radius: 5px;
  border: 0px;
  border-bottom: 2px solid #ccc;
  background-color: #fff;
  border-radius: 0;
  color: #828282;
}

select:focus {
  outline: none;
  border-color: #007bff;
}

.latest-header h2 {
  font-size: 40px;
  letter-spacing: 0.4px;
  color: #1b2021;
}

.latest-header a.for-sale {
  color: #f58634;
}

.latest-header a.to-rent {
  color: #828282;
}

a.view-all {
  color: #1b2021;
  font-size: 24px;
}

.latest-link {
  width: 477px;
  height: 60px;
}

.like-btn {
  position: absolute;
  top: 20px;
  right: 20px;
  width: 42px;
  height: 42px;
  background-color: white;
  border: none;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  cursor: pointer;
  transition: all 0.3s ease;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
}

.like-btn i {
  color: #f58634;
  font-size: 21px;
}

.like-btn:hover {
  transform: scale(1.2);
  -webkit-transform: scale(1.2);
  -moz-transform: scale(1.2);
  -ms-transform: scale(1.2);
  -o-transform: scale(1.2);
}

.house-price {
  font-size: 24px;
  letter-spacing: 0.24px;
  color: #f58634;
}

.latest-card h5.card-title {
  font-size: 32px;
}

.latest-card p.card-text {
  color: #828282;
  letter-spacing: 0.16px;
}

.review-card {
  overflow-x: scroll;
}

.review-header h2 {
  width: 550px;
  font-size: 40px;
  letter-spacing: 0.4px;
  color: #1b2021;
}

p.review-text {
  font-size: 24px;
  letter-spacing: 0.24px;
}

.blog-header h2 {
  width: 358px;
}

.blog p.card-title {
  font-size: 24px;
  letter-spacing: 0.24px;
  color: #1b2021;
}

.blog p.card-text {
  color: #828282;
}

.discount {
  width: 1305px;
  height: 448px;
  background-color: #f58634;
  color: #fff;
}

.discount h1 {
  font-size: 48px;
  line-height: 75px;
  letter-spacing: 0.48px;
}

.sub-input {
  height: 104px;
  background-color: #fff;
}

.sub-input input {
  width: 400px;
}

.sub-button {
  width: 161px;
  height: 72px;
  color: #fff;
  font-size: 16px;
  letter-spacing: 0.16px;
  padding: 24px 40px;
  background-color: #f58634;
  border-radius: 0;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  -ms-border-radius: 0;
  -o-border-radius: 0;
}

.sub-button:hover {
  background-color: #f58634;
  opacity: 90%;
  box-shadow: 3px 4px 7px black;
}

.footer p {
  font-size: 24px;
  letter-spacing: 0.24px;
  color: #828282;
}

footer {
  margin-top: 100px;
}

.hero,
.latest,
.review,
.blog,
.subscribe {
  margin-bottom: 100px;
}
